# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual environment
.venv/
venv/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Celery
celerybeat-schedule
celerybeat.pid

# Coverage
htmlcov/
.coverage
.coverage.*
